html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: LightGray;
}

div {
	border 1px solid Chocolate;
}

header {
	color: white;
}

.top-navigation {
	background-color: #fff;
}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	}

.conent {
	padding: 0px 15px;
}

.top-navigation .content .logo {
	margin-left: 14px;
	height: 70px;
}

.top-navigation .nav_buttons {
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	margin-top: 25px;

}

.top-navigation .nav_buttons > .active {
	color: #4c5058;
	font-weight: 500;
}

.nav_buttons li {
	display: inline-block;	
	letter-spacing: 0.03em;
	margin-left: 25px;
}